.header
	position relative

.logo
	sprite($logo)
	size(154px, 59px)
	top 60px
	left 45px
	position absolute
	&__text
		color #2f1b15
		font 400 10px 'PT Sans'
		margin 49px 0 0 6px
		display block
		height 10px

.stamp
	sprite($stamp)
	top 48px
	right 54px
	position absolute

.head
	sprite($task)
	top 184px
	left 368px
	position absolute
