form.content
	+field({id: 'name', name: 'Полное ФИО', value: 'Трубников-Панов Егор Анатольевич'})
	+field({id: 'year', name: 'Год рождения', value: '1989'})
	+field({id: 'address', name: 'Место жительства', value: 'г. Пермь, Россия'})
	+field({id: 'skype', name: 'Скайп', value: 'egor-a-trubnikov'})
	+field({id: 'mail', name: 'Почта', value: 'egor.a.trubnikov@gmail.com'})

	.field-radio
		span.field-radio__question Выпускник&nbsp;
			a.field-radio__link(href='#') htmlacademy.ru
		span.field-radio__checker
			span.field-radio__change
				input(type='radio' class='field-radio__button' id='radio-yes' name='htmlacademy')
				span.field-radio__ok
			label.field-radio__label(for='radio-yes') Да
		span.field-radio__checker
			span.field-radio__change
				input(type='radio' class='field-radio__button' id='radio-no' name='htmlacademy' checked)
				span.field-radio__ok
			label.field-radio__label(for='radio-no') Нет

	section
		h2.h2 Практические навыки
		.notice Отметьте только те технологии и типы задач, с которыми вы хорошо знакомы. Отсутсвие опыта отнюдь не означает, что у вас меньше шансов стать нашим сотрудником. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.

		.points-container
			ul.points
				+point({name: 'bem', value: 'Методология БЭМ', checked: true})
				+point({name: 'jQuery', checked: true})
				+point({name: 'GRUNT', value: 'Использую GRUNT', checked: true})
				+point({name: 'HAML', checked: true})
				+point({name: 'SASS', checked: true})
				+point({name: 'LESS', checked: true})
				+point({name: 'CoffeeScript', checked: true})
			ul.points
				+point({name: 'Jade', checked: true})
				+point({name: 'Stylus', checked: true})
				+point({name: 'Angular', value: 'Знаю (изучаю) Angular', checked: true})
				+point({name: 'Android', value: 'Верстка под Android'})
				+point({name: 'iOS', value: 'Верстка под iOS'})
				+point({name: 'Windows_Phone', value: 'Верстка под Windows Phone'})
			ul.points
				+point({name: 'EMAIL', value: 'Верстка рассылок', checked: true})
				+point({name: 'Adaptive', value: 'Адаптивная верстка', checked: true})
				+point({name: 'Dropbox', value: 'Использую Dropbox', checked: true})
				+point({name: 'Gmail', value: 'Использую Gmail', checked: true})
				+point({name: 'GitHub', value: 'Использую GitHub', checked: true})

		.jsLavel
			h2.h2 Уровень владения JavaScript

			#Range
			ul.Range__items
				li.Range__item.Range__item_no Не владею
				li.Range__item.Range__item_ready Использую готовые решения
				li.Range__item.Range__item_ready-and-build Использую готовые решения и умею их переделывать
				li.Range__item.Range__item_build Пишу сложные скрипты

		+field({id: 'date', name: 'Дата заполнения', value: '11.06.2015'})
